@font-face {
    font-family: Tangerine;
    src: url(./fonts/Tangerine-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Tangerine;
    src: url(./fonts/Tangerine-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: vibes;
    src: url(./fonts/GreatVibes-Regular.ttf);
}
