@import url(./fonts.css);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* temporary */
img[src$=".svg"] {
    width: 30px;
}
/* temporary */
.book {
    width: 100px;
    height: 200px;
    background-color: red;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-title {
    font-family: Tangerine;
    font-size: 3rem;
    margin-bottom: 0.2em;
}

.dropdown {
    display: none;
}

.search {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: -7ch; /* to calibrate with searchbox (-7ch = search:) */
}

.searchbox {
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
}

.searchbox input {
    border: none;
    background-color: transparent;
}

.searchbox input:focus {
    outline: none;
}

.searchbox img {
    cursor: pointer;
    width: 12px;
    transform: rotateZ(180deg);
}

header,
footer {
    color: #fff;
    padding: 15px;
    background-color: #013b6b;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex: 1;
    padding: 40px;
    background: url(./images/library-background.png) no-repeat center /
        100% 120%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 3;
}

.reveal-form {
    cursor: pointer;
    margin-bottom: 24px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    background-color: #4bee9c;
}

.reveal-form:hover {
    background-color: #a1face;
}

.book-form {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 200px;
}

.book-form input:not([type="checkbox"]) {
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    width: 100%;
}

.book-form > :last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-form input[type="checkbox"] {
    cursor: pointer;
    accent-color: #65e9a7;
}

.book-form input[type="checkbox"]:checked + label {
    color: #65e9a7;
}

.book-form label[for="did_read"] {
    cursor: pointer;
}

.submit {
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #119b56;
    color: #fff;
}

.submit:hover {
    background-color: #0e7943;
}

.books {
    flex: 5;
}
